<div class="card  blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
  <div class="py-sm-7 py-5 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="mt-n8 mt-md-n9 text-center">
            <% if @user.profile_image.present? %>
              <%= image_tag @user.profile_image.url, class: "avatar  avatar-xxl shadow-xl position-relative z-index-2", size: "200x180" %>
            <% else %>
              <%= image_tag asset_path("default_icon-9263fc59c414b7228d256fc178dcb22183561357950a68f5ad086ba7ee054974.jpg"), class: "rounded img-fluid" %>
            <% end %>
            <% unless @user == current_user %>
              <% if current_user.following?(@user) %>
                <%= button_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-primary" %>
              <% else %>
                <%= button_to"フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-primary" %>
              <% end %>
            <% else %>
              <%= link_to "#{@user.followings.count}フォロー中", user_followings_path(@user.id), class: "follow" %>
              <%= link_to "#{@user.followers.count}フォロワー", user_followers_path(@user.id), class: "follow" %> 
            <% end %>  
          </div>
          <div class="row py-5">
            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mx-auto">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h3 class="mb-0"><%= @user.user_name %></h3>
                  <div class="card-body-icons">
                  <button type="button" class="btn btn-sm text-nowrap mb-0"><i class="bi bi-youtube card-dody-icon"></i></button>
                  <button type="button" class="btn btn-sm text-nowrap mb-0"><i class="bi bi-twitter card-dody-icon"></i></button>
                  <button type="button" class="btn btn-sm text-nowrap mb-0"><i class="bi bi-instagram"></i></button>
                </div>
              </div>
              <p class="text-lg mb-0">
                <%= @user.self_introduce %>
                <% if @user == current_user %><br>
                <%= link_to profile_home_path(current_user.id), class: "profile-link" do %>
                <button type="button" class="btn btn-sm text-nowrap mb-0"><i class="bi bi-pencil-square"></i></button>
                <% end %>
                <%= link_to new_movie_path(current_user.id), class: "profile-link" do %>
                <button type="button" class="btn btn-sm text-nowrap mb-0" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="bi bi-camera-reels"></i></button>
                <% end %>
                <%= link_to new_service_path(current_user.id), class: "profile-link" do %>
                <button type="button" class="btn btn-sm text-nowrap mb-0"><i class="bi bi-file-earmark-plus"></i></button>
                <% end %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
<div class="col-lg-8 mt-4">
  <h2 class="mb-4 text-center">サービス一覧</h2>
  <div class="service-images">
    <% @services.each do |service| %>
    <div class="service-content text-center mb-4 service-introduce">
      <%= link_to service_path(service.id) do %>
        <%= service.lesson_time %>分<br>
        <%= service.lesson_price %>円<br>
        <%= truncate(service.lesson_detail, length: 20) %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
  <div class="container">
    <div class="card card-plain">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% @user_movies.first(3).each do |user_movie| %>
          <div class="card-body" style="width: 18rem;">
          <iframe width="400" height="500" src="https://www.youtube.com/embed/<%=user_movie.movie_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="card-img-top"></iframe>
            <% if @user == current_user %>
            <div class="card-body">
            <%= link_to edit_movie_path(user_movie.id), class: "profile-link" do %>
              <button class="btn btn-primary">編集</button>
            <% end %>
            <%= link_to destroy_movie_path(user_movie.id), class: "profile-link", data: { turbo_method: :delete } do %>
              <button class="btn btn-danger">削除</button>
            <% end %>
            <% end %> 
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

