<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header>
    <div class="application-title">
    <%= link_to "ギタっぷる", "/" %>
    </div>
    <% if user_signed_in? %>
    <div class="user-login-content">
      <%= link_to "ログアウト",destroy_user_session_path,data: {"turbo-method": :delete} %>
    <% else %>     
      <%= link_to "新規登録", "/users/sign_up" %>
      <%= link_to "ログイン", user_session_path %>
    </div>
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
